.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    margin-top: 100px;
    border: 1px solid black;
    padding: 2rem;
    width: 20rem;
    
}
.container .paragraph{
    font-weight: bold;
    font-size: 18px;
}

.container .check-box-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 10px;
}

.container .check-box-container input{
    width: 2rem;
    height: 2rem;
}

.container .check-box-container label{
    font-size: 0.8rem;
    font-weight: bold;
}

.button #submit-button{
    background: green;
    margin-top: 10px;
    color: white;
    outline: none;
    border: none;
    width: 10rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;

}